/* box < */

.box_base {
    text-align: center;
    line-height: 50px;
    font-family: @font-family-narrow;
    display: block;
    text-decoration: none;
    .box_size();
}

/* box > */

/* navigator < */

.navigator {
    background: #f2f3f2;
    border-top:1px solid #e4e6e5;
    height: 50px;

    .navigator__title {
	background: @blue;
	color:#9ea3cd;
	cursor: default;
	font:15px/52px @font-family-narrow;
	float:left;
	height:50px;
	padding-left: 17px;
	position: relative;
	text-transform: uppercase;
	width:78px;
	z-index:2;

	&:after {
	    content:"";
	    width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 7px 0 7px 7px;
	    border-color: transparent transparent transparent @blue;
	    position: absolute;
	    right: -7px;
	    top:50%;
	    margin-top:-7px;
	}
    }
}

.menu_breadcrumbs {
    overflow: hidden;

    .menu__item {
	border-right:1px solid #e4e6e5;
	float:left;
	height:50px;
	position:relative;
	.transition(all 0.2s ease);

	.menu__link {
	    background: #fff;
	    color:#7b848a;
	    font:14px/52px @font-family-narrow;
	    display: block;
	    height:100%;
	    padding:0 25px;
	    text-decoration: none;
	    text-transform: uppercase;

	}

	.ico_content_remove {
	    cursor: pointer;
	    display: none;
	    position:absolute;
	    top:50%;
	    left:50%;
	    margin:-11px 0 0 -11px;
	    z-index:10;
	    .transition(all 0.2s ease);
	}

	&:hover {
	    .menu__link {
		background: #f2f3f2;
		.opacity(0);
	    }
	    .ico_content_remove  {
		display: block;
	    }
	}

	.menu__link_icon {
	    background: #ededed;
	    display: block;
	    height:50px;
	    line-height: 52px;
	    text-align: center;
	    text-decoration: none;
	    width:50px;

	    .ico {
		.opacity(0.3);
	    }
	}

    }

    .menu__item_active .menu__link_icon,    .menu__item:hover .menu__link_icon {
	background-color: #fff;
	.transition(all 0.3s ease);

	.ico {
	    .opacity(1);
	}
    }
}

/* navigator > */

/* tags < */



.tags {
    background:#fff;
    border-top:1px solid #e4e6e5;
    margin:0;
    padding:10px 10px 10px 5px;

    .tags__item {
	display:inline-block;
	margin:5px;
	vertical-align:top;
    }
    .link {
	color:#7b848a;
	display:inline-block;
	font:14px/22px @font-family-narrow;
	padding:0 8px;
	text-decoration:none;
	text-transform:uppercase;
	.transition(all 0.3s ease);

	&:hover {
	    background:#f2f3f2;
	    color:#4b5962;
	}
    }

    .tags__item_disabled {
	.link {
	    color:#c4c7ca;
	}
    }

}

/* tags > */

/* page-header < */

.page-header {
    background:@gray-dark;
    padding: 40px 18px 30px 18px;
    position:relative;

    .page-title {
	color:#fff;
	font:26px/30px @font-family-narrow;
	margin:0;
	text-transform:uppercase;
    }
    .menu_sub {
	margin-top:5px;
    }
    .date {
	top:27px;
    }

}

.page-header_article {
    padding:34px 18px 30px;

    .page-title {
	font-size: 30px;
	font-family:@font-family-base;
	line-height: 35px;
	text-transform:none;
    }
}

/* page-header > */

/* aside block < */

.aside {
    background:#fff;

    .aside__header {
	height:50px;
	position:relative;
	overflow:hidden;


	.link {
	    color:#fff;
	    display:table-cell;
	    font:16px/20px @font-family-narrow;
	    height:50px;
	    vertical-align:middle;
	    text-decoration:none;
	    text-transform:uppercase;
	    word-break: break-all;
	    width:300px;
	}

	.aside__header__text {
	    display:inline-block;
	    padding:3px 15px 0;
	    vertical-align:middle;
	}

	.userpic {
	    display:inline-block;
	    vertical-align:middle;
	}

	.username {
	    font:19px/20px @font-family-narrow;
	    display:inline-block;
	    padding:3px 15px 0;
	    vertical-align:middle;
	   text-transform:none;
	   max-width:215px;
	   word-break:break-all;
	}


    }

    .aside__thumbnail {
	display:block;
	height:auto;
	width:100%;
    }

    .aside__content {
	position:relative;
    }

    .guides-list__item {
	background:#d6d9dd;

	.guide__link {
	    padding-right:65px;

	    &:hover {
		background:#dfe1e4;
		.guide__title {
		    color:#5f6b72;
		}
	    }
	}
	.guide__title {
	    color:#5e6971;
	    font:14px/20px @font-family-narrow;
	    text-transform:uppercase;
	}

    }
    .action-menu {
	position:relative;
	overflow:hidden;
	top:auto;
	right:auto;
	padding-left:20px;
	padding-bottom:30px;

	.box {
	    color:#fff;
	    font-family:@font-family-narrow;
	    .opacity(0.8);
	}
    }

    .article-short {
	padding:17px 17px 26px 17px;

	.text-block {
	    font-size:20px;
	    line-height:28px;
	}
    }
    h4 {
	font-size:30px;
	color:#000;
	line-height:40px;
	margin-bottom:6px;

	.link {
	    color:#000;
	    text-decoration:none;
	}
    }
}

.aside_style_red {
    .aside__header {
	background:#ae4f63;
	&:hover {
	  background:#9c4859;
	}
    }
    .aside__content{
	background:#ce494a;
    }
    .text-block {
	color:#ffc0c0;

	&:hover {
	    color:#fee1e1;
	}
    }
    .action-menu {

	.box {
	    background:rgba(255,255,255,0.2);
	    margin-right:1px;

	    &:hover {
		background:#dd8081;
	    }
	}
    }

}

.aside_style_green {
     .aside__header {
	background:#85a541;

	&:hover {
	    background:#789539;
	}

	}
	.aside__content{
	    background:#bde26e;
	}
	.text-block {
	    color:#617b29;

	    &:hover {
	    color:#48630f;
	}
	}
	.action-menu {
	    .box {
		background:#a9cd5d;
		margin-right:1px;

		&:hover {
		    background:#9fc353;
		}
	    }
    }
}
.aside_style_blue {
     .aside__header {
	background:#5a979d;

	&:hover {
	    background:#4c848a;
	}
    }
    .aside__content{
	background:#9ddae0;
    }
    .text-block {
	color:#3f7d83;

	&:hover {
	    color:#2d6469;
	}
    }
    .action-menu {
	.box {
	    background:#89c6cc;
	    margin-right:1px;

	    &:hover {
	    background:#82bfc5;
	}
	}
    }
}

/* aside block > */

/* users-top < */

.users-top {

    .users-top__item {
	margin-top:25px;
	height:35px;
	overlow:hidden;

	.box {
	    background:#eeeeee;
	    color:#979797;
	    font-size:15px;
	    float:left;
	    .box_size(35px,35px);

	    &:hover {
		background:#d9d9d9;
	    }

	    .userpic__image {
		.box_size(35px,35px);
	    }
	}
	.username {
	    color:#6e7c7d;
	    font-size:19px;
	    font-family:@font-family-narrow;
	    padding-left:15px;
	    line-height:35px;
	    .ellipsis;

	    .link {
		color:#6e7c7d;
		text-decoration:none;

		&:hover {
		    color:#0042af;
		}
	    }
	}
    }
}

/* users-top > */

/* guides-list < */



.guides-list__item {
    background:#f2f3f2;
    border-bottom:1px solid #ebecee;
    display:block;
    height:49px;
    position:relative;
    overflow:hidden;
    width:100%;
    .transition(all 0.2s ease);

    &:first-child {
	border-top:1px solid #ebecee;
    }

    &:hover {
	background:#e9ebe9;

	.guide__title {
	    color:#315bb6;
	}

	.bg-style_gray-light {
	    background:@green;
	    color:#fff;
	}
    }

    .guide__link {
	display:block;
	height:100%;
	padding-left:14px;
	text-decoration:none;
	overflow:hidden;

    }

    .guide__title {
	color:#313131;
	font-size:16px;
	display:table-cell;
	vertical-align:middle;
	height:52px;
	word-break: break-all;
    }
    .box_base {
	float:left;
    }
}
.guide__points {
    color:#9aa1a6;
    line-height:52px;
    position:absolute;
    right:10px;
    top:0;
}

/* guides-list > */

/* selector < */

.selector {
    background:#cdd0d3;

    .selector__item {
	background:#bdc2c8;
	float:left;
	margin:1px 0 0 1px;

	.link {
	    color:#4b5962;
	    display:block;
	    font-size:13px;
	    text-decoration:none;
	    text-align:center;
	    .transition(background 0.2s ease);
	}
    }

    .selector__item_active ,  .selector__item:hover  {
	.link {
	    background:@gray-dark;
	    color:#fff;
	}
    }

    .selector__item_disabled, .selector__item_disabled:hover {
	.link {
	    background:#c9cdd2;
	    color:#979fa5;
	    cursor:default;
	}
    }
}


.selector_alphabet {
    .link {
	height:29px;
	line-height:29px;
	width:29px;
    }
}

/* selector > */

/* standard element < */

.standard-element__header {
    background:#fff;
    height:50px;
    overflow:hidden;
    position:relative;
    .transition(all 0.2s ease);

    .box_base {
	float:left;
    }

    &:hover {
	background:#f2f3f2;

	.standard-element__title {
	    color:#315bb6;
	}

	.bg-style_blue {
	     background:#354bc3;
	}
    }

    .standard-element__link {
	color:#343434;
	display:block;
	font:21px/52px @font-family-base;
	height:100%;
	overflow:hidden;
	text-decoration:none;
	padding-left:20px;
    }

    .standard-element__title {
	font:21px/52px @font-family-base;
	height:100%;
	.ellipsis;

    }

}


.standard-element__header_white {
    &:hover {
	background:#fff;
    }
}
.date {
    color:#b3b8bb;
    font:14px/52px @font-family-narrow;
    position:absolute;
    right:15px;
    top:0;
    text-transform:uppercase;
    z-index:0;
}

.standard-element_question {
    .question-text {
	color:@color-body-text;
	display:block;
	margin:20px 60px 45px 0;
	text-decoration:none;

	&:hover {
	    color:#000;
	}
    }
}

.standard-element__title_date {
    padding-right:60px;
}



/* standard element > */

/* short gallery < */

.short-gallery {
    height:50px;
    overflow:hidden;

    .short-gallery__title {
	background:#8d979d;
	color:#e1e3e5;
	font:16px @font-family-narrow;
	float:left;
	text-align:center;
	.box_size(50px, 100px);
	text-transform:uppercase;
    }

    .gallery-carousel {
	overflow:hidden;
	position:relative;

	.caroufredsel_wrapper {
	    width:100% !important;
	}
    }

    .next-advice {
	.box_size();
	cursor:pointer;
	text-align:center;
	top:0;
	right:0;
	background:#8d979d;
	position:absolute;
	z-index:2;
    }
}

.short-gallery_experts {
    background:#e4e6e5;

    .short-gallery__title  {
	background:#BDC2C8;
	color:#4b5962;
	text-decoration:none;

	&:hover {
	    background:#cf5a5b;
	    color:#fff;
	}
    }
}

.short-gallery_breeder {
    background:#e4e6e5;

    .short-gallery__title  {
	background:#BDC2C8;
	color:#4b5962;
	text-align:center;
	text-decoration:none;
	width:100px;

	&:hover {
	    background:#cf5a5b;
	    color:#fff;
	}
    }
}

/* short gallery > */

/* thumbnails < */

.thumbnails {
    overflow:hidden;

    .thumbnails__item {
	float:left;
	.box_size();
    }
}

/* thumbnails > */

/* author  < */

.author {
    background:#8d979d;
    height:50px;
    overflow:hidden;

    &:hover {
	background:#9da7ad;
    }

    .userpic {
	float:left;
    }
    .author__info {
	color:#fff;
	font:19px/52px @font-family-narrow;
	padding-left:15px;
	overflow:hidden;
	text-decoration:none;
    }
}

/* author  > */

/* tabs < */

.tabs__header {
    height:50px;
    overflow:hidden;
}

.tabs-title {
    display:table;
    table-layout:fixed;
    width:100%;

    li {
	background:#c1c5cb;
	display:table-cell;
	height:50px;
	text-align:center;

	&:first-child .link {
	    border:0;
	}

	&:hover {
	    background:#cdd0d5;
	}
    }
    .link {
	border-left:1px solid #e4e6e5;
	color:#475253;
	font:15px/52px @font-family-narrow;
	display:block;
	height:100%;
	text-decoration:none;
	text-transform:uppercase;

	.ico {
	    margin-right:10px;
	    margin-top:-1px;
	}

    }
    .tabs-title__item_current {
	background:#fff;

	&:hover {
	    background:#fff;
	}

	&.tabs-title__item_marked {

	    .link {
		color:#fff;
	    }

	    .ico_content_guide-s {
		background-position: 0 -307px;
	    }

	    &:hover {
		background:@red-light;
	    }
	}
    }
    .tabs-title__item_marked {
	background:@red-light;

	&:hover {
	    background:#ef6364;
	}
    }
}


.tab-content {
    display:none;
}


/* tabs > */

/* comments-list < */

.comments-list__item {
    background:#f2f3f2;
    border-bottom:1px solid #e4e6e5;

    &:hover {

    }
}

.comment {
    position:relative;
    font-size:15px;
    line-height:20px;

    .userpic {
	float:left;
    }

    .comment__content {
	padding:15px 60px 15px 15px;
	overflow:hidden;
	position:relative;
    }
    .comment-text {
	display:inline;
	color:#778086;
    }
    .username ,
    .username .link {
	color:#1c1c1c;
	text-decoration:none;
    }
}
.comment_expert {
    background:#fff;

    .comment__header {
	 border-bottom:1px solid #e4e6e5;
	 height:50px;
	 padding-right:110px;
	 position:relative;

	 &:hover {
	     background:#dbdddc;
	 }


	 .action-menu {
	     right:-100px;
	 }
    }


    .username .link {
	color:#0042af;
	display:inline-block;
	line-height:56px;
	padding-left:15px;
    }
    .status {
	color:#4b5962;
	display:inline-block;
	margin-left:20px;
	line-height:50px;
    }

    .comment__content {
	padding-left:65px;
	padding-top:24px;
	padding-bottom:22px;
    }
    .comment-text {
	display:block;
	margin-bottom:28px;
    }
}

.action-menu {
    position:absolute;
    right:0;
    top:0;

    .box {
	float:left;
    }

    .dropdown {
	background:#fff;
	position:relative;

	&:hover {
	    background:#dbdddc;
	    .dropdown-menu {
		display:block;
	    }
	}
    }
    .dropdown-menu {
	display:none;
	position:absolute;
	top:100%;
	right:0;
	z-index:10;

	.dropdown-menu__item {
	    background:#dbdddc;
	    border-bottom:1px solid #edeeee;
	    text-align:left;

	    &:hover {
		background:#f2f3f2;
	    }
	}
	.link {
	    color:#323c43;
	    display:block;
	    font-size:15px;
	    font-family:@font-family-base;
	    min-width:175px;
	    padding:0 20px;
	    text-decoration:none;
	    white-space:nowrap;
	}

    }
}

.signature {
    color:#4b5962;
    font:15px/21px @font-family-base-italic;

    .link {
	text-decoration:none;
    }
}


/* green like btn < */

.link_green-like {
    background:@green !important;
    color:#fff !important;
    font:15px/52px @font-family-narrow !important;
    text-transform:uppercase !important;

    &:hover {
	background:#14d1a2 !important;
    }
}
/* green like btn > */


/* .link_important < */

.link_important {
    color:@red-light;
    display:block;
    font-size:15px;
    margin-bottom:20px;
    text-decoration:none;

    &:hover {
	color:#e26a6b;
    }
}


/* .link_important > */

/* accordion < */

.accordion {
    .standard-element__header {
	border-bottom:1px solid #EBECEE;
    }
    .standard-element__content {
	position:absolute;
	visibility:hidden;
    }
    .standard-element__content_visible {
	position:relative;
	visibility:visible;
    }
}

.accordion-arrow {
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
}


/* accordion > */

/* profiles < */
.profile-list {
    & > .standard-element__header {
	background:#d6d9dd;

	&:hover {
	    .standard-element__title {
		color:#343434;
	    }
	}
    }
}

.standard-element_profile {
    .standard-element__header {

	.box_comments:hover {
	    background:#354bc3;
	}
	.box_guide:hover {
	    background:#e15b5c;
	}
	.box_plus:hover {
	    background:#00b88a;
	}

	.standard-element__link {
	    margin-right:150px;
	}
    }

    .box {
	background:#c1c5cb;
	border-left:1px solid #cfd3d3;
	color:#fff;
    }

    .standard-element__content {
	overflow:hidden;
	background:#f2f3f2;
    }
    .standard-element__thumbnail {
	float:left;
	height:147px;
	overflow:hidden;
	width:200px;

	.standard-element__image {
	    display:block;
	    height:147px;
	    width:200px;
	}
    }
    .profile {
	height:95px;
	padding:17px 17px 35px 20px;
	position:relative;
	overflow:hidden;

	.experience {
	    color:#4b5962;
	    font-size:15px;
	    margin-bottom:5px;
	}
	.work {
	    color:#8a9196;
	    font:17px @font-family-narrow;
	}
	.date {
	    bottom:-5px;
	    right:auto;
	    top:auto;
	    left:0;
	    left:20px;
	}
    }
}

.standard-element_guide {
    .profile {
	height:auto;
	min-height:85px;
	padding-bottom:45px;
    }
    .date {
	color:#4b5962;
	.opacity(0.5);
    }
}
.standard-element_style_gray-dark {
    .standard-element__content {
	background:#e4e6e5;
	&:hover {
	    color:#1f2b33;
	}
    }
}
.standard-element_style_gray-light {
    .standard-element__content {
	background:#f2f3f2;
	&:hover {
	    color:#000;
	}
    }
}
.standard-element_style_blue {
    .standard-element__content {
	background:#9ddae0;
	&:hover {
	    color:#15464b;
	}
    }
}
.standard-element_style_green {
    .standard-element__content {
	background:#bde26e;
	&:hover {
	    color:#395107;
	}
    }
}


.section-illustrate {
    display:block;
}
/* form header < */

.form-header {
    background:@green;
    color:#d7f0e8;
    padding:23px 0;
    height:94px;
    overflow:hidden;

    .category-action {
	border-right:1px solid #65ccb2;
	float:left;
	font:26px/94px @font-family-narrow;
	height:94px;
	margin-right:23px;
	text-align:center;
	text-transform:uppercase;
	width:276px;

	.link {
	    color:#d7f0e8;
	    text-decoration:none;
	}
    }

    .advice-carousel {
	margin-right:25px;
	padding-right:25px;
	position:relative;
	overflow:hidden;
    }

    .advice-list__item {
	float:left;
	height:94px;
	width:630px;
    }

    .next-advice {
	cursor:pointer;
	right:-10px;
	top:25px;
	padding:10px;
	position:absolute;
    }
    .advice-text {
	padding-right:30px;
	font-size:14px;
	font-family:Arial;
	line-height:18px;
	h5 {
	    margin-bottom:5px;
	}
    }
}

/* form header > */

/* form box < */

.form-box {
    background:#f2f3f2;
    padding:50px 55px;
}

/* form box > */





