/* theme > */
@color-body-bg:#e4e6e5;
@color-body-text:#4b5962;
@color-link:#0042af;


/* Fonts */
@font-family-base: 'PTSansRegular', Arial, Tahoma, sans-serif;
@font-family-base-italic: 'PTSansItalic', Arial, Tahoma, sans-serif;
@font-family-narrow:'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;



/* background urls > */

@bg-icons:url(../images/bg/icons.png);

/* forms > */

/* forms < */


/* mixin < */

.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}


// Placeholder text
.placeholder(@color) {
  &:-moz-placeholder            { color: @color; } // Firefox 4-18
  &::-moz-placeholder           { color: @color; } // Firefox 19+
  &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}


@box-width:50px;

.box_size(@height:@box-width, @width:@box-width ) {
    height:@height;
    width:@width;
}


/* mixin > */




/*box-color-styles */

@blue :#1e319d;
@blue-inverse: #354bc3;
@red-light :#e15b5c;
@red-dark :#ae4f63;
@gray-dark: #4b5962;

.bg-style(@color,@color-hover, @text-color) {
    (~".bg-style_@{color}") {
        background-color: @@color;
	color:@text-color;
	.transition(background 0.2s ease);

        &:hover {
            background-color: @color-hover;
        }
    }
}


.bg-style("blue", #354bc3, #ffffff);
.bg-style("blue-inverse", #1e319d, #ffffff);
.bg-style("red-light", #cf5a5b, #ffffff);
.bg-style("red-dark", #9c4859, #ffffff);
.bg-style("gray-dark", #4b5962, #ffffff);


