form,
input,
textarea,
select {
    color: @color-body-text;
    font-family:@font-family-base;
    font-size: 17px;
    line-height: 21px;
}


.field {

}
.field_type_text {
    background: #fff;
    border:1px solid #fff;
    padding:14px;
    height:20px;
    width:574px;

    &:focus {
	border-color: @green;
    }
}


.field_type_textarea {
    border:1px solid #fff;
    background: #fff;
    padding:14px;
    height:115px;
    resize:none;
    width:574px;

      &:focus {
	border-color: @green;
    }
}

.field_type_select {
    background:#d9dbdc;
    border:1px solid #d9dbdc;
    padding:14px;
    height:20px;
    width:574px;

    &:focus {
	border-color: @green;
    }
}


.fieldset {
    position:relative;
}

.form-fields,
.form-fields__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.form-fields__item {
    margin-bottom: 10px;
    position: relative;
    clear: both;
    display:block;
    letter-spacing: normal;
    margin-bottom:36px;

    & > .form-field {
	margin-left:240px;
	margin-bottom:16px;
    }
}

.field-label {
    color:#313131;
    font-size:21px;
    position:absolute;
    left:0;
    top:10px;
    width:225px;
}

.form-fields_inline {
    .form-fields__item {
	display: inline-block;
	margin:0 0 0 10px;
	vertical-align: top;

	&:first-child {
	    margin:0;
	}
    }
    .form-field-radio,
    .form-field-checkbox {
	margin:11px 0;
	width:120px;
    }
}

.form-hint {
    color:#abb0b3;
    display:block;
    font-family:@font-family-narrow;
    margin-top:6px;

    .link {
	color:#4b5962;
	font:17px @font-family-base;
    }
}

/* custom-field < */

/* checkbox < */

.form-field-checkbox {
    position:relative;
    padding-left:33px;
    line-height: 20px;
    display:block;

    &:hover {
	.jq-checkbox {
	    background-position: 0 -24px;
	}
    }

    .jq-checkbox {
	background: url(../images/bg/forms.png) no-repeat 0 0;
	width:20px;
	height: 20px;
	left:0;
	top:0;
	position: absolute !important;

	&.checked {
	    background-position: 0 -48px;
	}
    }
}
.form-field-radio {
    position:relative;
    padding-left:33px;
    line-height: 20px;
    cursor:pointer;
    display:block;

    &:hover {
	.jq-radio {
	    background-position: -26px -24px;
	}
    }

    .jq-radio {
	background: url(../images/bg/forms.png) no-repeat -26px 0;
	width:20px;
	height: 20px;
	left:0;
	top:0;
	position: absolute !important;

	&.checked {
	    background-position: -26px -48px;
	}
    }
}




.form-field-file {
    position:relative;

    .jq-file {
	vertical-align:middle;
	margin-right:20px;
	width:100%;

	.jq-file__browse {
	    background:#4b5962;
	    color:#d4d6d8;
	    cursor:pointer;
	    display:block;
	    line-height:35px;
	    font-family:@font-family-narrow;
	    height:35px;
	    text-align:center;
	    text-transform:uppercase;
	    width:86px;
	}
    }

    .field_type_file-text {
	display:inline-block;
	vertical-align:middle;
    }
    .jq-file__name {
	height: 36px;
	line-height:35px;
	left: 105px;
	position: absolute;
	width: 498px;
	z-index: 20;
    }
}


.capcha-image {
    float:left;
    margin-right:12px;
    width:150px;
}
.field_type_capcha {
    overflow:hidden;
    width:413px;
}
/* selectbox < */

.jq-selectbox {
    cursor:pointer;
    position:relative;
}

.jq-selectbox__dropdown {
    background: #D9DBDC;
    padding:0 1px;
    margin-left:-15px;
    max-height:250px;
    top:50px;
    width:100%;

    li {
	background:#D9DBDC;
	cursor:pointer;
	padding:14px;
	border-bottom:1px solid #F2F3F2;

	&.sel,
	&.selected,
	&:hover {
	    background:#e4e6e5;
	}
    }
}
.jq-selectbox__select-text {
    max-width:540px;
    .ellipsis;
}
.jq-selectbox__trigger {
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    .box_size();

    .jq-selectbox__trigger-arrow {
	background:@bg-icons no-repeat -18px -286px;
	display:inline-block;
	height:11px;
	width:18px;
	.opacity(0.3);
    }
}

/* selectbox > */



/* buttons < */

.btn {
    color:#fff;
    cursor: pointer;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    position:relative;
    text-decoration: none;
    white-space: nowrap;

    .btn__in {
	color:#fff;
	.opacity(0.8);
	cursor: pointer;
	font:16px @font-family-narrow;
	height: 100%;
	line-height: 50px;
	display: inline-block;
	padding:0 25px;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
    }

    .ico {
	position: absolute;
	top:8px;
	left:8px;
    }

}


input[type="submit"],
input[type="button"] {
    cursor: pointer;
    padding-top:2% !important;
}
.btn_icon {
    .btn__in {
	padding-left:27px;
    }
}

.btnset {
    margin-left:240px;
}
    .btnset_right {
	margin-left: 0 !important;
	text-align: right;
    }

    .btnset_center {
	margin-left: 0 !important;
	text-align: center;
    }



/* buttons > */

/* form comment < */

.form_comment {
    background:#fff;

    .btn {
	position:absolute;
	top:0;
	right:0;
    }

    .field_type_text {
	width:560px;
    }
}

/* form comment > */