.ico {
	background:@bg-icons no-repeat -9999px -9999px transparent;
	display:-moz-inline-stack;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	text-indent:-9999px;
	font-size:0;
	width:0;
	height:0;
}

/* 16 > */
.ico_type_login {
	width:10px;
	height:10px;
	background-position:0 -306px;
}


/* 16 < */

/* 24 > */

.ico_content_write-guide{
    background-position:-18px -338px;
    height:24px;
    width:24px;
}
.ico_content_arrow-next {
    background-position:-18px -312px;
    height:20px;
    .opacity(0.5);
    width:10px;
}
.ico_content_home {
    background-position:-18px -26px;
    height:20px;
    width:20px;
}
.ico_content_date {
    background-position:-18px -234px;
    height:22px;
    width:26px;
}
.ico_content_themes {
    background-position:-18px -130px;
    height:20px;
    width:24px;
}
.ico_content_tags {
    background-position:-18px -78px;
    height:15px;
    width:24px;
}
.ico_content_main-category {
    background-position:-18px -182px;
    height:16px;
    width:18px;
}
.ico_content_remove {
    background-position:-18px -390px;
    height:22px;
    width:22px;
}
/* 24 < */

/* 36 > */

/* 36 < */

/* 48 > */

/* 48 < */