.ico {
	background:@bg-icons no-repeat -9999px -9999px transparent;
	display:-moz-inline-stack;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	text-indent:-9999px;
	font-size:0;
	width:0;
	height:0;
}

/* 16 > */
.ico_content_guide-s {
	width:16px;
	height:16px;
	background-position:0 -289px;
}

.ico_content_view {
	width:16px;
	height:16px;
	background-position:0 -35px;
}

.ico_content_comments {
	width:16px;
	height:16px;
	background-position:0 0;
}
.ico_content_plus-w {
   background-position:0 -72px;
    height:17px;
    margin-right: 8px;
    width:15px;
}
.ico_content_plus-g {
   background-position:0 -18px;
    height:17px;
    margin-right: 8px;
    width:15px;
}
.ico_content_replay {
   background-position:0 -216px;
    height:15px;
    margin-right: 8px;
    width:11px;
}
.ico_content_pencil-bk {
   background-position:0 -270px;
    height:16px;
    margin-right: 6px;
    width:16px;
}
.ico_content_email {
    background-position:0 -125px;
    height:13px;
    margin-right: 6px;
    margin-top:-3px;
    width:16px;
}
.ico_content_label {
   background-position:0 -162px;
    height:16px;
    margin-right: 5px;
    margin-top:-4px;
    width:11px;
}
.ico_content_pets {
   background-position:0 -180px;
    height:15px;
    margin-top:-3px;
    width:14px;
}
.ico_content_check {
   background-position:0 -324px;
    height:12px;
    margin-top:-3px;
    width:16px;
}
/* 16 < */

/* 24 > */

.ico_content_warning {
    background-position:-18px -130px;
    height:21px;
    width:24px;
}

.ico_content_write-guide{
    background-position:-18px -338px;
    height:24px;
    width:24px;
}
.ico_content_arrow-next {
    background-position:-18px -312px;
    height:20px;
    .opacity(0.5);
    width:10px;
}
.ico_content_home {
    background-position:-18px 0;
    height:20px;
    width:20px;
}
.ico_content_date {
    background-position:-18px -104px;
    height:22px;
    width:22px;
}
.ico_content_themes {
    background-position:-18px -52px;
    height:19px;
    width:22px;
}
.ico_content_tags {
    background-position:-18px -78px;
    height:15px;
    width:24px;
}
.ico_content_main-category {
    background-position:-18px -26px;
    height:19px;
    width:19px;
}
.ico_content_remove {
    background-position:-18px -390px;
    height:22px;
    width:22px;
}
.ico_content_arrow-down {
    background-position:-18px -286px;
    height:11px;
    width:18px;
    .opacity(0.3);
}
.ico_content_guide-red {
    background-position: -18px -259px;
    height: 18px;
    margin-right: 7px;
    width: 16px
}
.ico_content_comments-s {
   background-position:0 -90px;
    height:13px;
    width:12px;
    margin-top:-4px;
    .opacity(0.7);
}
.ico_content_arrow-up {
    background-position:-18px -416px;
    height:11px;
    width:18px;
}
.ico_content_pencil {
    background-position:0 -378px;
    height:11px;
    width:11px;
     margin-right: 3px;
    margin-top: -3px;
    .opacity(0.7);
}
/* 24 < */

/* 36 > */

/* 36 < */

/* 48 > */

/* 48 < */