/* reset < */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
button,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
form,
input,
textarea,
select,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansBoldItalic';
  src: url('../fonts/PTS76F-webfont.eot');
  src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F-webfont.woff') format('woff'), url('../fonts/PTS76F-webfont.ttf') format('truetype'), url('../fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansItalic';
  src: url('../fonts/PTS56F-webfont.eot');
  src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F-webfont.woff') format('woff'), url('../fonts/PTS56F-webfont.ttf') format('truetype'), url('../fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTS75F-webfont.eot');
  src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F-webfont.woff') format('woff'), url('../fonts/PTS75F-webfont.ttf') format('truetype'), url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansNarrowRegular';
  src: url('../fonts/PTN57F-webfont.eot');
  src: url('../fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN57F-webfont.woff') format('woff'), url('../fonts/PTN57F-webfont.ttf') format('truetype'), url('../fonts/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* theme > */
/* Fonts */
/* background urls > */
/* forms > */
/* forms < */
/* mixin < */
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
/* mixin > */
/*box-color-styles */
.bg-style_blue {
  background-color: #1e319d;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_blue:hover {
  background-color: #354bc3;
  color: #fff;
}
.bg-style_blue-inverse {
  background-color: #354bc3;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_blue-inverse:hover {
  background-color: #1e319d;
  color: #fff;
}
.bg-style_red-light {
  background-color: #e15b5c;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_red-light:hover {
  background-color: #cf5a5b;
  color: #fff;
}
.bg-style_red-dark {
  background-color: #ae4f63;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_red-dark:hover {
  background-color: #9c4859;
  color: #fff;
}
.bg-style_gray-dark {
  background-color: #4b5962;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_gray-dark:hover {
  background-color: #4b5962;
  color: #fff;
}
.bg-style_gray-light {
  background-color: #bdc2c8;
  color: #67727a;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_gray-light:hover {
  background-color: #00b88a;
  color: #fff;
}
.bg-style_green {
  background-color: #2ec19c;
  color: #ffffff;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.bg-style_green:hover {
  background-color: #2ec19c;
  color: #fff;
}
html,
body {
  height: 100%;
}
body {
  background: #e4e6e5;
  font: 17px/1.45 'PTSansRegular', Arial, Tahoma, sans-serif;
  width: 100%;
  color: #4b5962;
}
a {
  color: #0042af;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3 {
  color: #666666;
}
h1 a,
h2 a,
h3 a {
  color: #666666;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: #666666;
  text-decoration: underline;
}
h1.page-header {
  position: relative;
}
h1.page-header a {
  color: #0042af;
  text-decoration: underline;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
h1 {
  font-size: 26px;
  margin: 0 0 15px;
  word-wrap: break-word;
}
h1 .b-amount {
  color: #cccccc;
}
h2,
h3 {
  font-size: 21px;
}
/* Content styles < */
.text-block {
  font-size: 17px;
  line-height: 26px;
}
.text-block h2,
.text-block h3 {
  margin-bottom: 15px;
}
.text-block ol,
.text-block ul {
  padding-left: 15px;
  margin-bottom: 15px;
}
.text-block ol {
  list-style: decimal;
}
.text-block ul {
  list-style: disc;
}
.text-block p {
  margin-bottom: 15px;
}
/* Content styles > */
/*layout < */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 990px;
}
.columns-layout {
  position: relative;
}
.page-layout {
  padding-bottom: 40px;
  position: relative;
}
.main {
  float: left;
  width: 690px;
}
.sidebar {
  float: right;
  width: 300px;
}
.article {
  padding: 29px 50px 25px 0;
}
/*  layout > */
/* header > */
.header {
  display: block;
  position: relative;
  padding-top: 60px;
}
.logo {
  float: left;
  position: relative;
}
.logo .link {
  display: block;
  text-decoration: none;
}
.logo img {
  display: block;
}
.logo .logo__slogan {
  color: #4b5962;
  font: 14px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  left: 108%;
  position: absolute;
  text-transform: uppercase;
  top: -4px;
  white-space: nowrap;
}
.logo .logo__slogan .version {
  color: #9a9c9b;
  text-transform: none;
  padding-right: 5px;
}
.auth {
  float: right;
}
.auth .auth__section {
  float: left;
}
.auth .bg-style_red-light:hover {
  background-color: #cb6263;
}
.auth .bg-style_red-light:hover .ico_content_write-guide {
  background-position: -18px -364px;
}
/* nav < */
.nav {
  clear: both;
}
.nav .menu-item-title {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  font-size: 19px;
  margin: 0 18px;
  position: relative;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  text-transform: uppercase;
}
.nav .menu-item-title .counter {
  color: #aeaeae;
  font: 16px;
}
.nav .nav__item {
  float: left;
  position: relative;
  height: 140px;
  overflow: hidden;
}
.nav .nav__item > .menu-item-title {
  bottom: 10px;
  left: 0;
  position: absolute;
}
.nav .nav__item > .menu-item-title .counter {
  font-size: 16px;
  position: absolute;
  top: -21px;
  left: 0;
}
.nav .nav__item > .menu__link {
  color: #fff;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.nav .nav__item > .menu__link > .menu-item-title {
  bottom: 10px;
  left: 0;
  position: absolute;
}
.nav .nav__item > .menu__link > .menu-item-title .counter {
  font-size: 16px;
  position: absolute;
  top: -20px;
  left: 0;
}
.nav .nav__item_type_active-category {
  width: 260px;
}
.nav .nav__item_type_active-category .category-changer {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.nav .nav__item_type_active-category .category-changer:hover {
  background: #4258d0;
}
.nav .nav__item_type_shelter {
  background: #f3c63d;
  width: 140px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.nav .nav__item_type_shelter:hover {
  background: #fbda56;
}
.nav .nav__item_type_shelter .menu__link:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  bottom: 17px;
  right: 15px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.nav .nav__item_type_shelter .menu-item-title {
  color: #000000;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.nav .nav__item_type_shelter .counter {
  color: #000000;
}
.nav .nav__item_type_sections {
  background: #354bc3;
  width: 390px;
}
.nav .nav__item_type_category-action {
  background: #00b88a;
  width: 200px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.nav .nav__item_type_category-action:hover {
  background: #0dc597;
}
.nav .nav__item_type_category-action > .menu__link .menu-item-title {
  height: 147px;
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  position: static;
  text-align: center;
  width: 200px;
}
.nav .menu_sub {
  display: none;
  overflow: hidden;
  width: 390px;
}
.nav .menu_sub .menu__item {
  float: left;
  margin: 0;
}
.nav .menu_sub .menu__link {
  display: inline-block;
  height: 50px;
  line-height: 54px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.nav .menu_sub .menu__link:hover {
  background: #4258d0;
}
.nav .menu_sub .menu__item_active .menu__link {
  background: #4258d0;
}
.nav .menu_sub .menu-item-title {
  font-size: 15px;
  margin: 0 16px;
  -moz-opacity: 0.44;
  -khtml-opacity: 0.44;
  -webkit-opacity: 0.44;
  opacity: 0.44;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=44);
  filter: alpha(opacity=44);
}
.nav .menu_sub .counter {
  color: #91a1f5;
}
.menu__main > .menu__item {
  background: #4b5962;
  float: left;
  height: 90px;
  position: relative;
  width: 130px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.menu__main > .menu__item > .menu__link {
  color: #fff;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.menu__main > .menu__item > .menu__link:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  bottom: 10px;
  right: 13px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.menu__main > .menu__item > .menu__link > .menu-item-title {
  bottom: 8px;
  left: 0;
  margin: 0 16px;
  position: absolute;
}
.menu__main > .menu__item > .menu__link > .menu-item-title .counter {
  font-size: 16px;
  position: absolute;
  top: -20px;
  left: 0;
}
.menu__main > .menu__item:hover {
  background: #1e319d;
}
.menu__main > .menu__item_active {
  background: #1e319d;
}
.menu__main > .menu__item_active .menu_sub {
  display: block;
}
.menu__main > .menu__item_active > .menu__link:after {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.menu__main > .menu__item_active > .menu__link > .menu-item-title {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.menu_sub > .menu__item {
  display: inline;
  margin-right: 10px;
}
.menu_sub .menu__link {
  text-decoration: none;
  font: 15px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.menu_sub .menu-item-title {
  font-weight: normal;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
}
.menu_sub .counter {
  margin-left: 2px;
  font: 15px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
}
/* nav > */
/* search < */
.search {
  background: #fff;
  height: 70px;
}
.search .field_type_search {
  background: url(../images/bg/icons.png) no-repeat -61px 16px;
  font: 30px/40px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  height: 30px;
  padding: 20px 10px 20px 80px;
  width: 55%;
}
.search .field_type_search:-moz-placeholder {
  color: #dddddd;
}
.search .field_type_search::-moz-placeholder {
  color: #dddddd;
}
.search .field_type_search:-ms-input-placeholder {
  color: #dddddd;
}
.search .field_type_search::-webkit-input-placeholder {
  color: #dddddd;
}
.search .btn_search {
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100px;
}
.search .btn_search .btn__in {
  font-size: 19px;
  line-height: 70px;
}
.search .search-results {
  color: #dddddd;
  font: 24px/30px 'PTSansItalic', Arial, Tahoma, sans-serif;
  position: absolute;
  right: 120px;
  top: 21px;
}
/* search > */
/* header > */
.ico {
  background: url(../images/bg/icons.png) no-repeat -9999px -9999px transparent;
  display: -moz-inline-stack;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
}
/* 16 > */
.ico_content_guide-s {
  width: 16px;
  height: 16px;
  background-position: 0 -289px;
}
.ico_content_view {
  width: 16px;
  height: 16px;
  background-position: 0 -36px;
}
.ico_content_comments {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.ico_content_plus-w {
  background-position: 0 -72px;
  height: 17px;
  margin-right: 8px;
  width: 15px;
}
/* 16 < */
/* 24 > */
.ico_content_write-guide {
  background-position: -18px -338px;
  height: 24px;
  width: 24px;
}
.ico_content_arrow-next {
  background-position: -18px -312px;
  height: 20px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  width: 10px;
}
.ico_content_home {
  background-position: -18px -26px;
  height: 20px;
  width: 20px;
}
.ico_content_date {
  background-position: -18px -234px;
  height: 22px;
  width: 26px;
}
.ico_content_themes {
  background-position: -18px -130px;
  height: 20px;
  width: 24px;
}
.ico_content_tags {
  background-position: -18px -78px;
  height: 15px;
  width: 24px;
}
.ico_content_main-category {
  background-position: -18px -182px;
  height: 16px;
  width: 18px;
}
.ico_content_remove {
  background-position: -18px -390px;
  height: 22px;
  width: 22px;
}
.ico_content_arrow-down {
  background-position: -18px -286px;
  height: 11px;
  width: 18px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
.ico_content_guide-red {
  background-position: -18px -260px;
  height: 18px;
  width: 16px;
  margin-right: 7px;
}
.ico_content_comments-s {
  background-position: 0 -90px;
  height: 13px;
  width: 12px;
  margin-top: -4px;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.ico_content_arrow-up {
  background-position: -18px -416px;
  height: 11px;
  width: 18px;
}
.ico_content_pencil {
  background-position: 0 -378px;
  height: 11px;
  width: 11px;
  margin-right: 3px;
  margin-top: -3px;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
/* 24 < */
/* 36 > */
/* 36 < */
/* 48 > */
/* 48 < */form,
input,
textarea,
select {
  color: #4b5962;
  font-family: 'PTSansRegular', Arial, Tahoma, sans-serif;
  font-size: 17px;
  line-height: 21px;
}
.field_type_text {
  background: #fff;
  border: 1px solid #fff;
  padding: 14px;
  height: 20px;
  width: 574px;
}
.field_type_text:focus {
  border-color: #2ec19c;
}
.field_type_textarea {
  border: 1px solid #fff;
  background: #fff;
  padding: 14px;
  height: 115px;
  resize: none;
  width: 574px;
}
.field_type_textarea:focus {
  border-color: #2ec19c;
}
.field_type_select {
  background: #d9dbdc;
  border: 1px solid #d9dbdc;
  padding: 14px;
  height: 20px;
  width: 574px;
}
.field_type_select:focus {
  border-color: #2ec19c;
}
.fieldset {
  position: relative;
}
.form-fields,
.form-fields__item {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.form-fields__item {
  margin-bottom: 10px;
  position: relative;
  clear: both;
  display: block;
  letter-spacing: normal;
  margin-bottom: 36px;
}
.form-fields__item > .form-field {
  margin-left: 240px;
  margin-bottom: 16px;
}
.field-label {
  color: #313131;
  font-size: 21px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 225px;
}
.form-fields_inline .form-fields__item {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.form-fields_inline .form-fields__item:first-child {
  margin: 0;
}
/* custom-field < */
/* checkbox < */
.form-field_chbox {
  position: relative;
  padding-left: 21px;
  line-height: 14px;
  font-size: 14px;
}
.field-box_radio {
  position: relative;
  padding-left: 21px;
  line-height: 14px;
  font-size: 14px;
}
.jq-checkbox {
  background: #fff;
  width: 11px;
  height: 11px;
  border: 1px solid #cecece;
  left: 0;
  top: 1px;
  position: absolute;
}
.jq-checkbox.checked {
  background: #ffffff url(../images/icons/check.svg) no-repeat 50% 50%;
  background-size: 9px 7px;
}
/* selectbox < */
.jq-selectbox {
  cursor: pointer;
  position: relative;
}
.jq-selectbox__dropdown {
  background: #fff;
  padding: 15px 1px;
  margin-left: -15px;
  top: 50px;
  width: 100%;
}
.jq-selectbox__select-text {
  max-width: 540px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 50px;
  line-height: 52px;
  width: 50px;
}
.jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url(../images/bg/icons.png) no-repeat -18px -286px;
  display: inline-block;
  height: 11px;
  width: 18px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
/* selectbox > */
/* buttons < */
.btn {
  color: #fff;
  cursor: pointer;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.btn .btn__in {
  color: #fff;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  cursor: pointer;
  font: 16px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  height: 100%;
  line-height: 50px;
  display: inline-block;
  padding: 0 25px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.btn .ico {
  position: absolute;
  top: 8px;
  left: 8px;
}
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  padding-top: 2% !important;
}
.btn_icon .btn__in {
  padding-left: 27px;
}
.btnset_right {
  margin-left: 0 !important;
  text-align: right;
}
.btnset_center {
  margin-left: 0 !important;
  text-align: center;
}
/* buttons > */
/* form comment < */
.form_comment {
  background: #fff;
}
.form_comment .btn {
  position: absolute;
  top: 0;
  right: 0;
}
.form_comment .field_type_text {
  width: 560px;
}
/* form comment > *//* box < */
.box_base {
  text-align: center;
  line-height: 50px;
  font-family: 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 52px;
  width: 50px;
}
/* box > */
/* navigator < */
.navigator {
  background: #f2f3f2;
  border-top: 1px solid #e4e6e5;
  height: 50px;
}
.navigator .navigator__title {
  background: #1e319d;
  color: #9ea3cd;
  cursor: default;
  font: 15px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  float: left;
  height: 50px;
  padding-left: 17px;
  position: relative;
  text-transform: uppercase;
  width: 78px;
  z-index: 2;
}
.navigator .navigator__title:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #1e319d;
  position: absolute;
  right: -7px;
  top: 50%;
  margin-top: -7px;
}
.menu_breadcrumbs {
  overflow: hidden;
}
.menu_breadcrumbs .menu__item {
  border-right: 1px solid #e4e6e5;
  float: left;
  height: 50px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu_breadcrumbs .menu__item .menu__link {
  background: #fff;
  color: #7b848a;
  font: 14px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  display: block;
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_breadcrumbs .menu__item .ico_content_remove {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
  z-index: 10;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu_breadcrumbs .menu__item:hover .menu__link {
  background: #f2f3f2;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.menu_breadcrumbs .menu__item:hover .ico_content_remove {
  display: block;
}
.menu_breadcrumbs .menu__item .menu__link_icon {
  display: block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}
.menu_breadcrumbs .menu__item_active .menu__link_icon,
.menu_breadcrumbs .menu__item:hover .menu__link_icon {
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu_breadcrumbs .menu__item_active .menu__link_icon .ico_content_home,
.menu_breadcrumbs .menu__item:hover .menu__link_icon .ico_content_home {
  background-position: -18px 0;
}
.menu_breadcrumbs .menu__item_active .menu__link_icon .ico_content_tags,
.menu_breadcrumbs .menu__item:hover .menu__link_icon .ico_content_tags {
  background-position: -18px -52px;
}
.menu_breadcrumbs .menu__item_active .menu__link_icon .ico_content_themes,
.menu_breadcrumbs .menu__item:hover .menu__link_icon .ico_content_themes {
  background-position: -18px -104px;
}
/* navigator > */
/* tags < */
.tags {
  background: #fff;
  border-top: 1px solid #e4e6e5;
  margin: 0;
  padding: 10px 10px 10px 5px;
}
.tags .tags__item {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
.tags .link {
  color: #7b848a;
  display: inline-block;
  font: 14px/22px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tags .link:hover {
  background: #f2f3f2;
  color: #4b5962;
}
.tags .tags__item_disabled .link {
  color: #c4c7ca;
}
/* tags > */
/* page-header < */
.page-header {
  background: #4b5962;
  padding: 40px 18px 30px 18px;
  position: relative;
}
.page-header .page-title {
  color: #fff;
  font: 26px/30px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  margin: 0;
  text-transform: uppercase;
}
.page-header .menu_sub {
  margin-top: 5px;
}
.page-header .date {
  top: 27px;
}
.page-header_article {
  padding: 34px 18px 30px;
}
.page-header_article .page-title {
  font-size: 30px;
  font-family: 'PTSansRegular', Arial, Tahoma, sans-serif;
  line-height: 35px;
  text-transform: none;
}
/* page-header > */
/* aside block < */
.aside {
  background: #fff;
}
.aside .aside__header {
  height: 50px;
  position: relative;
  overflow: hidden;
}
.aside .aside__header .link {
  color: #fff;
  display: table-cell;
  font: 16px/20px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  height: 50px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  word-break: break-all;
  width: 300px;
}
.aside .aside__header .aside__header__text {
  display: inline-block;
  padding: 3px 15px 0;
  vertical-align: middle;
}
.aside .aside__header .userpic {
  display: inline-block;
  vertical-align: middle;
}
.aside .aside__header .username {
  font: 19px/20px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  display: inline-block;
  padding: 3px 15px 0;
  vertical-align: middle;
  text-transform: none;
  max-width: 215px;
  word-break: break-all;
}
.aside .aside__thumbnail {
  display: block;
  height: auto;
  width: 100%;
}
.aside .aside__content {
  position: relative;
}
.aside .guides-list__item {
  background: #d6d9dd;
}
.aside .guides-list__item .guide__link {
  padding-right: 65px;
}
.aside .guides-list__item .guide__link:hover {
  background: #dfe1e4;
}
.aside .guides-list__item .guide__link:hover .guide__title {
  color: #5f6b72;
}
.aside .guides-list__item .guide__title {
  color: #5e6971;
  font: 14px/20px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  text-transform: uppercase;
}
.aside .action-menu {
  position: relative;
  overflow: hidden;
  top: auto;
  right: auto;
  padding-left: 20px;
  padding-bottom: 30px;
}
.aside .action-menu .box {
  color: #fff;
  font-family: 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
.aside .article-short {
  padding: 17px 17px 26px 17px;
}
.aside .article-short .text-block {
  font-size: 20px;
  line-height: 28px;
}
.aside h4 {
  font-size: 30px;
  color: #000;
  line-height: 40px;
  margin-bottom: 6px;
}
.aside h4 .link {
  color: #000;
  text-decoration: none;
}
.aside_style_red .aside__header {
  background: #ae4f63;
}
.aside_style_red .aside__content {
  background: #e15b5c;
}
.aside_style_red .text-block {
  color: #ffc0c0;
}
.aside_style_red .action-menu .box {
  background: rgba(255, 255, 255, 0.2);
  margin-right: 1px;
}
.aside_style_green .aside__header {
  background: #85a541;
}
.aside_style_green .aside__content {
  background: #bde26e;
}
.aside_style_green .text-block {
  color: #617b29;
}
.aside_style_green .action-menu .box {
  background: #a9cd5d;
  margin-right: 1px;
}
.aside_style_blue .aside__header {
  background: #5a979d;
}
.aside_style_blue .aside__content {
  background: #9ddae0;
}
.aside_style_blue .text-block {
  color: #3f7d83;
}
.aside_style_blue .action-menu .box {
  background: #89c6cc;
  margin-right: 1px;
}
/* aside block > */
/* users-top < */
.users-top .users-top__item {
  margin-top: 25px;
  height: 35px;
  overlow: hidden;
}
.users-top .users-top__item .box {
  background: #eeeeee;
  color: #979797;
  font-size: 15px;
  float: left;
  height: 35px;
  line-height: 37px;
  width: 35px;
}
.users-top .users-top__item .box .userpic__image {
  height: 35px;
  line-height: 37px;
  width: 35px;
}
.users-top .users-top__item .username {
  color: #6e7c7d;
  font-size: 19px;
  padding-left: 15px;
  line-height: 35px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.users-top .users-top__item .username .link {
  color: #6e7c7d;
  text-decoration: none;
}
/* users-top > */
/* guides-list < */
.guides-list__item {
  background: #f2f3f2;
  border-bottom: 1px solid #ebecee;
  display: block;
  height: 49px;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.guides-list__item:first-child {
  border-top: 1px solid #ebecee;
}
.guides-list__item:hover {
  background: #e9ebe9;
}
.guides-list__item:hover .guide__title {
  color: #315bb6;
}
.guides-list__item:hover .bg-style_gray-light {
  background: #2ec19c;
  color: #fff;
}
.guides-list__item .guide__link {
  display: block;
  height: 100%;
  padding-left: 14px;
  text-decoration: none;
  overflow: hidden;
}
.guides-list__item .guide__title {
  color: #313131;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  height: 52px;
  word-break: break-all;
}
.guides-list__item .box_base {
  float: left;
}
.guide__points {
  color: #9aa1a6;
  line-height: 52px;
  position: absolute;
  right: 10px;
  top: 0;
}
/* guides-list > */
/* selector < */
.selector {
  background: #cdd0d3;
}
.selector .selector__item {
  background: #bdc2c8;
  float: left;
  margin: 1px 0 0 1px;
}
.selector .selector__item .link {
  color: #4b5962;
  display: block;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.selector .selector__item_active .link,
.selector .selector__item:hover .link {
  background: #4b5962;
  color: #fff;
}
.selector .selector__item_disabled .link,
.selector .selector__item_disabled:hover .link {
  background: #c9cdd2;
  color: #979fa5;
  cursor: default;
}
.selector_alphabet .link {
  height: 29px;
  line-height: 29px;
  width: 29px;
}
/* selector > */
/* standard element < */
.standard-element__header {
  background: #fff;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.standard-element__header .box_base {
  float: left;
}
.standard-element__header:hover {
  background: #f2f3f2;
}
.standard-element__header:hover .standard-element__title {
  color: #315bb6;
}
.standard-element__header:hover .bg-style_blue {
  background: #354bc3;
}
.standard-element__header .standard-element__link {
  color: #343434;
  display: block;
  font: 21px/52px 'PTSansRegular', Arial, Tahoma, sans-serif;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  padding-left: 20px;
}
.standard-element__header .standard-element__title {
  font: 21px/52px 'PTSansRegular', Arial, Tahoma, sans-serif;
  height: 100%;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.standard-element__header_white:hover {
  background: #fff;
}
.date {
  color: #b3b8bb;
  font: 14px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  position: absolute;
  right: 15px;
  top: 0;
  text-transform: uppercase;
  z-index: 0;
}
.standard-element_question .question-text {
  color: #4b5962;
  display: block;
  margin: 20px 60px 45px 0;
  text-decoration: none;
}
.standard-element__title_date {
  padding-right: 60px;
}
/* standard element > */
/* short gallery < */
.short-gallery {
  height: 50px;
  overflow: hidden;
}
.short-gallery .short-gallery__title {
  background: #8d979d;
  color: #e1e3e5;
  font: 16px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  float: left;
  text-align: center;
  height: 50px;
  line-height: 52px;
  width: 100px;
  text-transform: uppercase;
}
.short-gallery .gallery-carousel {
  overflow: hidden;
}
.short-gallery_experts {
  background: #e4e6e5;
}
.short-gallery_experts .short-gallery__title {
  background: #BDC2C8;
  color: #4b5962;
  text-decoration: none;
}
.short-gallery_experts .short-gallery__title:hover {
  background: #cf5a5b;
  color: #fff;
}
.short-gallery_breeder {
  background: #e4e6e5;
}
.short-gallery_breeder .short-gallery__title {
  background: #BDC2C8;
  color: #4b5962;
  text-align: center;
  text-decoration: none;
  width: 115px;
}
.short-gallery_breeder .short-gallery__title:hover {
  background: #cf5a5b;
  color: #fff;
}
/* short gallery > */
/* thumbnails < */
.thumbnails {
  overflow: hidden;
}
.thumbnails .thumbnails__item {
  float: left;
  height: 50px;
  line-height: 52px;
  width: 50px;
}
/* thumbnails > */
/* author  < */
.author {
  background: #8d979d;
  height: 50px;
  overflow: hidden;
}
.author .userpic {
  float: left;
}
.author .author__info {
  color: #fff;
  font: 19px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  padding-left: 15px;
  overflow: hidden;
  text-decoration: none;
}
/* author  > */
/* tabs < */
.tabs__header {
  height: 50px;
  overflow: hidden;
}
.tabs-title {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.tabs-title li {
  background: #c1c5cb;
  display: table-cell;
  height: 50px;
  text-align: center;
}
.tabs-title li:first-child .link {
  border: 0;
}
.tabs-title .link {
  border-left: 1px solid #e4e6e5;
  color: #475253;
  font: 15px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  display: block;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.tabs-title .link .ico {
  margin-right: 10px;
  margin-top: -1px;
}
.tabs-title .tabs-title__item_current {
  background: #fff;
}
.tabs-title .tabs-title__item_current.tabs-title__item_marked .link {
  color: #fff;
}
.tabs-title .tabs-title__item_current.tabs-title__item_marked .ico_content_guide-s {
  background-position: 0 -307px;
}
.tabs-title .tabs-title__item_marked {
  background: #e15b5c;
}
.tab-content {
  display: none;
}
/* tabs > */
/* comments-list < */
.comments-list__item {
  background: #f2f3f2;
  border-bottom: 1px solid #e4e6e5;
}
.comment {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}
.comment .userpic {
  float: left;
}
.comment .comment__content {
  padding: 15px 60px 15px 15px;
  overflow: hidden;
  position: relative;
}
.comment .comment-text {
  display: inline;
  color: #778086;
}
.comment .username,
.comment .username .link {
  color: #1c1c1c;
  text-decoration: none;
}
.comment_expert {
  background: #fff;
}
.comment_expert .comment__header {
  border-bottom: 1px solid #e4e6e5;
  height: 50px;
  padding-right: 110px;
  position: relative;
}
.comment_expert .username .link {
  color: #0042af;
  display: inline-block;
  line-height: 56px;
  padding-left: 15px;
}
.comment_expert .status {
  color: #4b5962;
  display: inline-block;
  margin-left: 20px;
  line-height: 50px;
}
.comment_expert .comment__content {
  padding-left: 65px;
  padding-top: 24px;
  padding-bottom: 22px;
}
.comment_expert .comment-text {
  display: block;
  margin-bottom: 28px;
}
.action-menu {
  position: absolute;
  right: 0;
  top: 0;
}
.action-menu .box {
  float: left;
}
.action-menu .dropdown {
  background: #fff;
  position: relative;
}
.action-menu .dropdown:hover {
  background: #dbdddc;
}
.action-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.action-menu .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}
.action-menu .dropdown-menu .dropdown-menu__item {
  background: #dbdddc;
  border-bottom: 1px solid #edeeee;
  text-align: left;
}
.action-menu .dropdown-menu .link {
  color: #323c43;
  display: block;
  font-size: 15px;
  font-family: 'PTSansRegular', Arial, Tahoma, sans-serif;
  min-width: 175px;
  padding: 0 20px;
  text-decoration: none;
  white-space: nowrap;
}
.signature {
  color: #4b5962;
  font: 15px/21px 'PTSansItalic', Arial, Tahoma, sans-serif;
}
.signature .link {
  text-decoration: none;
}
/* green like btn < */
.link_green-like {
  background: #2ec19c !important;
  color: #fff !important;
  font: 15px/52px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif !important;
  text-transform: uppercase !important;
}
/* green like btn > */
/* .link_important < */
.link_important {
  color: #e15b5c;
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  text-decoration: none;
}
/* .link_important > */
/* accordion < */
.accordion .standard-element__header {
  border-bottom: 1px solid #EBECEE;
}
.accordion .standard-element__header:hover .standard-element__title {
  color: #343434;
  cursor: default;
}
.accordion .standard-element__content {
  display: none;
}
.accordion-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.accordion-arrow:hover {
  background: #f6f6f6;
}
/* accordion > */
/* profiles < */
.profile-list > .standard-element__header {
  background: #d6d9dd;
}
.profile-list > .standard-element__header:hover .standard-element__title {
  color: #343434;
}
.standard-element_profile .standard-element__header:hover .box_comments {
  background: #354bc3;
}
.standard-element_profile .standard-element__header:hover .box_guide {
  background: #e15b5c;
}
.standard-element_profile .standard-element__header:hover .box_plus {
  background: #00b88a;
}
.standard-element_profile .standard-element__header .standard-element__link {
  margin-right: 150px;
}
.standard-element_profile .box {
  background: #c1c5cb;
  border-left: 1px solid #cfd3d3;
  color: #fff;
}
.standard-element_profile .standard-element__content {
  overflow: hidden;
  background: #f2f3f2;
}
.standard-element_profile .standard-element__thumbnail {
  float: left;
  height: 147px;
  overflow: hidden;
  width: 200px;
}
.standard-element_profile .standard-element__thumbnail .standard-element__image {
  display: block;
  height: 147px;
  width: 200px;
}
.standard-element_profile .profile {
  height: 95px;
  padding: 17px 17px 35px 20px;
  position: relative;
  overflow: hidden;
}
.standard-element_profile .profile .experience {
  color: #4b5962;
  font-size: 15px;
  margin-bottom: 5px;
}
.standard-element_profile .profile .work {
  color: #8a9196;
  font: 17px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
}
.standard-element_profile .profile .date {
  bottom: -5px;
  right: auto;
  top: auto;
  left: 0;
  left: 20px;
}
/* form header < */
.form-header {
  background: #2ec19c;
  color: #d7f0e8;
  padding: 23px 0;
  height: 94px;
  overflow: hidden;
}
.form-header .category-action {
  border-right: 1px solid #65ccb2;
  float: left;
  font: 26px/94px 'PTSansNarrowRegular', ArialNarrow, Arial, Tahoma, sans-serif;
  height: 94px;
  margin-right: 23px;
  text-align: center;
  text-transform: uppercase;
  width: 276px;
}
.form-header .category-action .link {
  color: #d7f0e8;
  text-decoration: none;
}
.form-header .advice-carousel {
  margin-right: 25px;
  padding-right: 25px;
  position: relative;
  overflow: hidden;
}
.form-header .advice-list__item {
  float: left;
  height: 94px;
  width: 630px;
}
.form-header .next-advice {
  cursor: pointer;
  right: -10px;
  top: 25px;
  padding: 10px;
  position: absolute;
}
.form-header .advice-text {
  padding-right: 30px;
  font-size: 14px;
  font-family: Arial;
  line-height: 18px;
}
.form-header .advice-text h5 {
  margin-bottom: 5px;
}
/* form header > */
/* form box < */
.form-box {
  background: #f2f3f2;
  padding: 50px 55px;
}
/* form box > */
/* clearing > */
.clearfix:after,
.nav:after,
.header:after,
.row:after,
.page-content:after,
.columns-layout:after,
.selector:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  font: 0/0 a;
  visibility: hidden;
}
/* clearing < */